<script LANGUAGE="JavaScript">
function cek()
{
  if(form_dh.berat_material.value == "" || form_dh.ljr_materi.value == "")
  {
    alert("masukkan semua variabel perhitungan");exit;
  }
}
function hitung()
{
  cek();
  bm=eval(form_dh.berat_material.value);
  lm=eval(form_dh.ljr_materi.value);
  hasil=bm*lm;
  form_dh.hsl.value = formatCurrency(hasil,"");
}
</script>

<div class="header">
  <h1>Hitung Disc.Handling</h1>
</div>

<form name="form_dh" accept-charset="UTF-8" class="pure-form">
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h3>Masukkan Variabel</h3>
        <fieldset>
          <label for="berat_material">Berat Material</label>
          <input id="berat_material" name="berat_material" type="number"/>
          <p>Berat material harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="ljr_materi">Kebutuhan Material</label>
          <input id="ljr_materi" name="ljr_materi" type="number"/>
          <p>Kebutuhan material harap diisi.</p>
        </fieldset>
      </div>
      <div class="pure-u-1-2">
        <h3 class="">&nbsp;</h3>
        <label for="kll">Disc.Handling</label>
        <input id="kll" name="hsl" type="text" size="50" class="currency-bulat" readonly="true" />
      </div>
    </div>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
      <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
    </fieldset>
  </form>
</div>
