<script LANGUAGE="JavaScript">
function cek()
{
  if(form_bm.keliling.value == "" || form_bm.panjang_material.value == "" || form_bm.tebal_material.value == "" || form_bm.berat_jenis.value == "")
  {
    alert("masukkan semua variabel perhitungan");exit;
  }
}
function hitung()
{
  cek();
  kll=eval(form_bm.keliling.value);
  pjm=eval(form_bm.panjang_material.value);
  tbm=eval(form_bm.tebal_material.value);
  bj=eval(form_bm.berat_jenis.value);
  hasil=(kll*pjm*tbm*bj)/1000;
  form_bm.hsl.value = formatCurrency(hasil,"");
}
</script>
<div class="header">
  <h1>Hitung Berat Material</h1>
</div>

<form name="form_bm" accept-charset="UTF-8" class="pure-form">
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h3>Masukkan Variabel</h3>
        <fieldset>
          <label for="keliling">Keliling</label>
          <input id="keliling" name="keliling" type="number"/>
          <p>Keliling harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="panjang_material">Panjang Material</label>
          <input id="panjang_material" name="panjang_material" type="number"/>
          <p>Panjang material harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="tebal_material">Tebal Material</label>
          <input id="tebal_material" name="tebal_material" type="number"/>
          <p>Tebal material harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="berat_jenis">Berat Jenis</label>
          <input id="berat_jenis" name="berat_jenis" type="number"/>
          <p>Berat jenis harap diisi.</p>
        </fieldset>
      </div>
      <div class="pure-u-1-2">
        <h3 class="">&nbsp;</h3>
        <label for="kll">Berat Material</label>
        <input id="kll" name="hsl" type="text" size="50" class="currency-bulat" readonly="true" />
      </div>
    </div>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
      <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
    </fieldset>
  </form>
</div>
