<script LANGUAGE="JavaScript">
function cek()
{
  if(form_hh.panjang_barang_jadi.value == "" || form_hh.harga_handling.value == "" || form_hh.dischandling.value == "")
  {
    alert("masukkan semua variabel perhitungan");exit;
  }
}
function hitung()
{
  cek();
  pbj=eval(form_hh.panjang_barang_jadi.value);
  hh=eval(form_hh.harga_handling.value);
  dh=eval(form_hh.dischandling.value);

  hasil=(pbj+hh)-dh;
  form_hh.hsl.value = formatCurrency(hasil,"");
}
</script>
<div class="header">
  <h1>Total Hrg.Handling</h1>
</div>

<form name="form_hh" accept-charset="UTF-8" class="pure-form">
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h3>Masukkan Variabel</h3>
        <fieldset>
          <label for="panjang_barang_jadi">Panjang brg.jadi</label>
          <input id="panjang_barang_jadi" name="panjang_barang_jadi" type="number"/>
          <p>Panjang brg.jadi harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="harga_handling">Harga handling</label>
          <input id="harga_handling" name="harga_handling" type="number"/>
          <p>Harga handling harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="dischandling">Disc.handling</label>
          <input id="dischandling" name="dischandling" type="number"/>
          <p>Disc.handling harap diisi.</p>
        </fieldset>
      </div>
      <div class="pure-u-1-2">
        <fieldset>
          <h3 class="">&nbsp;</h3>
          <label for="hsl">Total hrg.handling</label>
          <input id="hsl" name="hsl" type="text" size="50" class="currency-bulat" readonly="true" />
        </fieldset>
      </div>
    </div>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
      <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
    </fieldset>
  </form>
  </div>
