<script LANGUAGE="JavaScript">
var keliling=0;
var hasil=0;
function cek_bangun()
{
  if(form_all.bangun.value == "")
  {
    alert("pilih bangun yang ingin dihitung");exit;
  }
  else if (form_all.bangun.value == "bulat") {
    if(form_all.diameter.value == ""){
      alert("masukkan diameter");exit;
    }
    else{
      keliling =((3.14)*(eval(form_all.diameter.value)));
    }
  }
  else if (form_all.bangun.value == "kotak") {
    if(form_all.panjang.value == "" || form_all.panjang.value == ""){
      alert("masukkan panjang dan lebar bangun");exit;
    }
    else{
      keliling =(((eval(form_all.panjang.value))+(eval(form_all.lebar.value)))*2);
    }
  }
}

function cek_variabel(){
  if(form_all.tebal_material.value == "" || form_all.harga_laser.value == "" || form_all.berat_jenis.value == "" || form_all.material_yang_dibutuhkan.value == "" || form_all.panjang_barang_jadi.value == "" || form_all.harga_handling.value == "" || form_all.cutting_length.value == "" || form_all.cutting_speed.value == "" || form_all.countur.value == "" )
  {
    alert("masukkan variabel yang ingin dihitung");exit;
  }
}

function hitung()
{
  cek_bangun();
  cek_variabel();
  hasil=(
    (((((eval(form_all.cutting_length.value))/(eval(form_all.cutting_speed.value)))+(((eval(form_all.countur.value))*(eval(form_all.tebal_material.value)))/60))/60)*(eval(form_all.harga_laser.value)))+(((eval(form_all.panjang_barang_jadi.value))+(eval(form_all.harga_handling.value)))-
    (((keliling*(eval(form_all.panjang_material.value)))/1000)*(eval(form_all.material_yang_dibutuhkan.value))))
  );
  form_all.harga_potong_laser.value=formatCurrency(hasil,"");
}
</script>
  <div class="header">
    <h1>Hitung Sekaligus</h1>
  </div>

  <form name="form_all" accept-charset="UTF-8" class="pure-form">
    <div class="content">
      <div class="pure-g-r">
        <div class="pure-u-1-2">
          <h3>Masukkan Variabel</h3>
          <fieldset>
            <label for="bangun">Bangun</label>
            <select class="chzn-select" id="bangun" name="bangun">
              <option value="">- Pilih Bangun -</option>
              <option value="bulat"> Bulat </option>
              <option value="kotak"> Kotak </option>
            </select>
            <p>Pilih jenis bangun.</p>
          </fieldset>
          <fieldset>
            <label for="diameter">Diameter</label>
            <input id="diameter" name="diameter" type="number"/>
          </fieldset>
          <fieldset>
            <label for="panjang">Panjang</label>
            <input id="panjang" name="panjang" type="number"/>
          </fieldset>
          <fieldset>
            <label for="lebar">Lebar</label>
            <input id="lebar" name="lebar" type="number"/>
          </fieldset>
          <fieldset>
            <label for="panjang_material">Panjang material</label>
            <input id="panjang_material" name="panjang_material" type="number"/>
            <p>Panjang material harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="tebal_material">Tebal material</label>
            <input id="tebal_material" name="tebal_material" type="number"/>
            <p>Tebal material harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="berat_jenis">Berat jenis</label>
            <input id="berat_jenis" name="berat_jenis" type="number"/>
            <p>Berat jenis harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="material_yang_dibutuhkan">Kebutuhan materi</label>
            <input id="material_yang_dibutuhkan" name="material_yang_dibutuhkan" type="number"/>
            <p>Kebutuhan materi harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="panjang_barang_jadi">Panjang brg.jadi</label>
            <input id="panjang_barang_jadi" name="panjang_barang_jadi" type="number"/>
            <p>Panjang brg.jadi harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="harga_handling">Harga handling</label>
            <input id="harga_handling" name="harga_handling" type="number"/>
            <p>Harga handling harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="cutting_length">Cutting length(m)</label>
            <input id="cutting_length" name="cutting_length" type="number"/>
            <p>Cutting length harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="cutting_speed">Cutting speed</label>
            <input id="cutting_speed" name="cutting_speed" type="number"/>
            <p>Cutting speed harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="countur">Jumlah kontur</label>
            <input id="countur" name="countur" type="number"/>
            <p>Jumlah kontur harap diisi.</p>
          </fieldset>
          <fieldset>
            <label for="harga_laser">Harga laser</label>
            <input id="harga_laser" name="harga_laser" type="number"/>
            <p>Hrg.laser harap diisi.</p>
          </fieldset>
        </div>
        <div class="pure-u-1-2">
          <h3 class="">&nbsp;</h3>
          <fieldset>
            <label for="hsl">Hasil perhitungan</label>
            <input id="hsl" name="harga_potong_laser" type="text" size="50" class="currency-bulat" readonly="true" />
          </fieldset>
        </div>
      </div>
      <fieldset class="actions">
        <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
        <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
      </fieldset>
    </div>
  </form>
