<ul>
	<li>
		<%= link_to 'Keliling', keliling_index_url %>
	</li>
	<li>
		<%= link_to 'Berat Material', berat_material_index_path %>
	</li>
	<li>
		<%= link_to 'Disc.Handling', dischandling_index_path %>
	</li>
	<li>
		<%= link_to 'Harga Handling', hrghandling_index_path %>
	</li>
	<li>
		<%= link_to 'Total Waktu', totalwaktu_index_path %>
	</li>
	<li>
		<%= link_to 'Harga Potong', hrgpotong_index_path %>
	</li>
	<li>
		<%= link_to 'Sekaligus', hitungsekaligus_index_path %>
	</li>
	<li class="buttons menu-item-divided">

		<a href="<%=profile_index_url %>" title="Settings"><i class="fa fa-cog fa-2x" title="Settings"></i></a>
		<%= link_to '<i class="fa fa-sign-out fa-2x"></i>'.html_safe, destroy_user_session_path, :method => :delete, :class => 'tipsy', :title => 'Logout' %>
	</li>
</ul>
