<div class="header">
  <h1>Laser Cutting</h1>
</div>

<%= link_to 'Hitung Keliling', keliling_index_path %><br />
<%= link_to 'Hitung Berat Material', berat_material_index_path %><br />
<%= link_to 'Hitung Disc.Handling', dischandling_index_path %><br />
<%= link_to 'Hitung Harga Handling', hrghandling_index_path %><br />
<%= link_to 'Hitung Total Waktu', totalwaktu_index_path %><br />
<%= link_to 'Hitung Harga Potong', hrgpotong_index_path %><br /><br /><hr /><br />
<%= link_to 'Hitung Sekaligus', hitungsekaligus_index_path %><br />
