<script LANGUAGE="JavaScript">
function cek()
{
  if(form_pl.total_waktu.value == "" || form_pl.harga_laser.value == "")
  {
    alert("masukkan semua variabel perhitungan");exit;
  }
}
function hitung()
{
  cek();
  tw=eval(form_pl.total_waktu.value);
  hl=eval(form_pl.harga_laser.value);
  hasil=(tw/60)*hl;
  form_pl.hsl.value = formatCurrency(hasil,"");
}
</script>
<div class="header">
  <h1>Total Hrg.Potong Laser</h1>
</div>

<form name="form_pl" accept-charset="UTF-8" class="pure-form">
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h3>Masukkan Variabel</h3>
        <fieldset>
          <label for="total_waktu">Total waktu</label>
          <input id="total_waktu" name="total_waktu" type="number"/>
          <p>Total waktu harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="harga_laser">Harga laser</label>
          <input id="harga_laser" name="harga_laser" type="number"/>
          <p>Harga laser harap diisi.</p>
        </fieldset>
      </div>
      <div class="pure-u-1-2">
        <h3 class="">&nbsp;</h3>
        <fieldset>
          <label for="hsl">Total hrg.potong laser</label>
          <input id="hsl" name="hsl" type="text" size="50" class="currency-bulat" readonly="true" />
        </fieldset>
      </div>
    </div>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
      <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
    </fieldset>
  </div>
</form>
