<ul class="submenu">
  <li<% if where == 'bulat' %> class="on"<% end %>><a href="/keliling/bulat">Bulat</a></li>
  <li<% if where == 'square' %> class="on"<% end %>><a href="/keliling/square">Kotak</a></li>
</ul>
