<script LANGUAGE="JavaScript">
function cek()
{
  if(form_kll.diameter.value == "" )
  {
    alert("masukkan nilai diameter");exit;
  }
}
function keliling()
{
  cek();
  d=eval(form_kll.diameter.value);
  hasil=(3.14)*d;
  form_kll.kll.value = formatCurrency(hasil,"");
}
</script>
<div class="header">
  <h1>Hitung Keliling</h1>
</div>
<%= render "keliling/nav", :where => 'bulat' %>

<form name="form_kll"  accept-charset="UTF-8" class="pure-form">
<div class="content">
  <div class="pure-g-r">
    <div class="pure-u-1-2">
        <h3>Keliling Bulat</h3>
      <fieldset>
        <label for="diameter">Diameter</label>
        <input id="diameter" name="diameter" type="number"/>
        <p>Diameter harap diisi.</p>
      </fieldset>
    </div>
    <div class="pure-u-1-2">
            <h3 class="">&nbsp;</h3>
      <label for="kll">Keliling</label>
      <input id="kll" name="kll" type="text" size="50" class="currency-bulat" readonly="true" />
    </div>
  </div>
  <fieldset class="actions">
    <input class="pure-button pure-button-primary" type=button name=submit onClick="keliling()" value="Hitung">
    <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, keliling_index_path %>
  </fieldset>
  </form>
</div>
