<script LANGUAGE="JavaScript">
function cek()
{
  if(form_kll.panjang.value == "" || form_kll.lebar.value == "")
  {
    alert("masukkan nilai panjang dan lebar");exit;
  }
}
function keliling()
{
  cek();
  p=eval(form_kll.panjang.value);
  l=eval(form_kll.lebar.value);
  hasil=(p+l)*2;
  form_kll.kll.value = formatCurrency(hasil,"");
}
</script>
<div class="header">
  <h1>Hitung Keliling</h1>
</div>
<%= render "keliling/nav", :where => 'square' %>

<form name="form_kll"  accept-charset="UTF-8" class="pure-form">
<div class="content">
  <div class="pure-g-r">
    <div class="pure-u-1-2">
      <h3>Keliling Kotak</h3>
      <fieldset>
        <label for="panjang">Panjang</label>
        <input id="panjang" name="panjang" type="number" />
        <p>Panjang harap diisi.</p>
      </fieldset>
      <fieldset>
        <label for="lebar">Panjang</label>
        <input id="lebar" name="lebar" type="number" />
        <p>Lebar harap diisi.</p>
      </fieldset>
    </div>
    <div class="pure-u-1-2">
      <h3 class="">&nbsp;</h3>
        <label for="kll">Keliling</label>
        <input id="kll" name="kll" type="text" size="50" class="currency-bulat" readonly="true" />
    </div>
  </div>
  <fieldset class="actions">
    <input class="pure-button pure-button-primary" type=button name=submit onClick="keliling()" value="Hitung">
    <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, keliling_index_path %>
  </fieldset>
</div>
</form>
