<p id="notice"><%= notice %></p>

<h1>Listing Customers</h1>

<table>
  <thead>
    <tr>
      <th>Deleted</th>
      <th>Enabled</th>
      <th>Name</th>
      <th>Contact</th>
      <th>Email</th>
      <th>City</th>
      <th>Postcode</th>
      <th>Phone</th>
      <th>Mobile</th>
      <th>Fax</th>
      <th>Npwp</th>
      <th>Npwp address</th>
      <th>Paymentdays</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.deleted %></td>
        <td><%= customer.enabled %></td>
        <td><%= customer.name %></td>
        <td><%= customer.contact %></td>
        <td><%= customer.email %></td>
        <td><%= customer.city %></td>
        <td><%= customer.postcode %></td>
        <td><%= customer.phone %></td>
        <td><%= customer.mobile %></td>
        <td><%= customer.fax %></td>
        <td><%= customer.npwp %></td>
        <td><%= customer.npwp_address %></td>
        <td><%= customer.paymentdays %></td>
        <td><%= customer.description %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
