<p id="notice"><%= notice %></p>

<p>
  <strong>Deleted:</strong>
  <%= @customer.deleted %>
</p>

<p>
  <strong>Enabled:</strong>
  <%= @customer.enabled %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @customer.contact %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @customer.postcode %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @customer.mobile %>
</p>

<p>
  <strong>Fax:</strong>
  <%= @customer.fax %>
</p>

<p>
  <strong>Npwp:</strong>
  <%= @customer.npwp %>
</p>

<p>
  <strong>Npwp address:</strong>
  <%= @customer.npwp_address %>
</p>

<p>
  <strong>Paymentdays:</strong>
  <%= @customer.paymentdays %>
</p>

<p>
  <strong>Description:</strong>
  <%= @customer.description %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
