<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'pure-form'}) do |f| %>
  <fieldset>
    <%= f.email_field :email, :autofocus => true, :placeholder => 'Email' %>
  </fieldset>

  <fieldset>
    <%= f.password_field :password, autocomplete: "off", :placeholder => 'Password' %>
  </fieldset>

  <div class="actions">
    <%= f.submit "Masuk", :class => 'pure-button pure-button-primary' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
