<script LANGUAGE="JavaScript">
function cek()
{
  if(form_tt.cutting_length.value == "" || form_tt.cutting_speed.value == "" || form_tt.kontur.value == "" || form_tt.tebal_material.value == "")
  {
    alert("masukkan semua variabel perhitungan");exit;
  }
}
function hitung()
{
  cek();
  cl=eval(form_tt.cutting_length.value);
  cs=eval(form_tt.cutting_speed.value);
  ktr=eval(form_tt.kontur.value);
  tm=eval(form_tt.tebal_material.value);
  hasil=(cl/cs)+((ktr*tm)/60);
  form_tt.hsl.value = formatCurrency(hasil,"");
}
</script>

</script>
<div class="header">
  <h1>Hitung Total Waktu</h1>
</div>

<form name="form_tt" accept-charset="UTF-8" class="pure-form">
  <div class="content">
    <div class="pure-g-r">
      <div class="pure-u-1-2">
        <h3>Masukkan Variabel</h3>
        <fieldset>
          <label for="cutting_length">Cutting length(m)</label>
          <input id="cutting_length" name="cutting_length" type="number"/>
          <p>Cutting length harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="cutting_speed">Cutting speed</label>
          <input id="cutting_speed" name="cutting_speed" type="number"/>
          <p>Cutting speed harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="kontur">Jumlah kontur</label>
          <input id="kontur" name="kontur" type="number"/>
          <p>Jumlah kontur harap diisi.</p>
        </fieldset>
        <fieldset>
          <label for="tebal_material">Tebal material</label>
          <input id="tebal_material" name="tebal_material" type="number"/>
          <p>Tebal material harap diisi.</p>
        </fieldset>
      </div>
      <div class="pure-u-1-2">
        <h3 class="">&nbsp;</h3>
        <fieldset>
          <label for="hsl">Total berat material</label>
          <input id="hsl" name="hsl" type="text" size="50" class="currency-bulat" readonly="true" />
        </fieldset>
      </div>
    </div>
    <fieldset class="actions">
      <input class="pure-button pure-button-primary" type=button name=submit onClick="hitung()" value="Hitung">
      <%= link_to '<i class="fa fa-times"></i> Batal'.html_safe, default_index_path %>
    </fieldset>
  </div>
</form>
