$menu-width: 150px;
/* $base: rgb(245, 245, 245); */
$base: #f1f2f7;

$blue: #2763c7;
$skyblue: #57c8f2;

$purple: rgb(128, 88, 165);
$red: #FF6C60;
$yellow: rgb(250, 210, 50);
$orange: rgb(243, 123, 29);
$green: #31a339;

$white: #fff;
$outline: #d5d5d5;
$midgrey: #999;
$lightgrey: #ccc;
$bluedark: #3e5aa3;
$cherry: #c03;
$cyan: #74cbc6;


$primary: #555;

$softred: #fbe9e2;
$border-color: #c8c8c8;

$error: #dd514c;
$success: #5eb95e;

@mixin round($rad) {-moz-border-radius:$rad; -webkit-border-radius:$rad; border-radius:$rad;}
@mixin box-shadow($dist, $color) {-moz-box-shadow:$dist $dist $dist $color; -webkit-box-shadow:$dist $dist $dist $color; box-shadow:$dist $dist $dist $color;}
@mixin transition($details) {-webkit-transition:$details; -moz-transition:$details; transition:$details; -o-transition:$details;}
@mixin transform($details) {-webkit-transform:$details; -moz-transform:$details; transform:$details; -o-transform:$details;}
@mixin all-trans { transition: all .1s linear; -o-transition: all .1s linear; -moz-transition: all .1s linear; -webkit-transition: all .1s linear; }
@mixin opacity($opac) {opacity:$opac/100; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$opac)"; filter: alpha(opacity=$opac);}

body {color: $primary; background: $base; -webkit-font-smoothing: antialiased;}

.dashboard {
	h1 { text-align:center; margin-bottom:40px; }
	.row { float:left; margin-bottom:20px; clear:both; overflow:hidden; }
	.widget { margin:0 0 40px 0; background:$white; padding:0; @include box-shadow(1px, $outline); color:$midgrey;
		&.medium-widget { width: 97%; margin: 0 auto 40px auto; }
		&.small-widget { width: 94%; margin: 0 auto 40px auto; }

		ul { list-style: none; width:100%; margin:0; padding:0;
			li { padding: 15px 15px; border-bottom:1px solid $lightgrey; font-size: 15px; }
			li:last-child { border:0; }
			strong { float: right; }
			.head { text-align: center; border: 0; i {font-size:40px; margin-bottom:10px; color:$white;}}
		}
		&.medium-widget .head { background: $cherry; }
		&.small-widget .head { background: $cyan; }

		.footer { text-align: center; font-weight: 700; font-size: 35px; padding:20px 0; }
		h3 { padding:0; margin:0; color:$white; font-size:16px; font-weight:700; text-transform: uppercase; text-align: center; }
	}
}

body,
.pure-g [class *= "pure-u"],
.pure-g-r [class *= "pure-u"] {
	font-family: "europa", sans-serif; font-weight: 400;
}

#layout, #menu, .pure-menu-link {@include transition(all 0.2s ease-out);}

h1#logo {margin-bottom:10px; width:100%; height:150px; text-indent:-9999px; background:url('/assets/Atlantic-Logo.png') center center no-repeat; background-size:300px 142px;}

h1 {}

/* --------------------------
 * Element Styles
 * -------------------------- */

h1, h2, h3, h4, h5, h6 {font-weight: bold; color: rgb(75, 75, 75);}
h3 {font-size: 1.25em;}
h4 {font-size: 1.125em;}
h5 {font-size: 1em;}

a {color: $blue; text-decoration: none; &:hover {color:$red;}}
a:visited {color: $blue;}

dt {font-weight: bold;}
dd {margin: 0 0 10px 0;}

strong {font-weight: 700;}

.red {color:$red;}
.green {color:$green;}
.blue {color:$blue;}

.left {float:left;}
.right {float:right;}

.row, .item-row {float:left; clear:both; width:100%;}

.item-row {margin-bottom:1em;
	label {float:left; width:30%;
		&:after {content: ':'; float:right; padding-right:10px;}
	}
	span, strong, p {float:left; width:70%; margin:0;}
}

.items-list {float:left; list-style:none; width:75%; margin:0; padding:0; overflow:hidden;
	li {float:left; width:47%; margin:0 0 3% 3%;}
	.area {position:relative; background: #fff; border: 1px solid #ddd; padding:15px; min-height:15em;
		h5 {margin:0 0 1em 0; padding:0;}
		h6 {font-size:0.8em; position:absolute; bottom:15px; left:15px; line-height:1.5em; color:#888; margin:0; padding:0;}
		.info {font-size:0.9em; width:100%; margin-top:5px; color:$primary; clear:both; overflow:hidden; strong {float:right; padding-left:10px;}}
		.buttons {position:absolute; top:15px; right:15px; text-align:right; i {margin-left:3px;}}
		.footer {position:absolute; bottom:15px; right:15px; text-align:right; font-size:1.1em; font-weight:700; color:$red;}
	}
	.more {font-size:0.8em; font-weight:700; text-transform:uppercase; letter-spacing:0.1em;}
}

.add-new {float:left; width:22%; margin:0 3% 3% 0; padding:0; overflow:hidden;
	form {background:#fff; border: 5px dotted #ddd; @include round(5px); padding:30px 15px; text-align:center; i {margin-right:10px;}}
}

/* --------------------------
 * Layout Styles
 * -------------------------- */

#layout {padding-left: $menu-width; left: 0;}

/* Apply the .box class on the immediate parent of any grid element (pure-u-*) to apply some padding. */
.l-box {padding: 1.3em;}
.l-vbox {padding: 1.3em 0;}
.l-hbox {padding: 0 1.3em;}
.l-bbox {padding: 0 0 1.3em 0;}
.l-dbox {padding: 0 1.3em 1.3em 0;}
.l-centered {text-align: center;}

#login {width:23em; margin:0 auto; padding:0.5em 2em 1em 2em; border:2px solid #ccc; overflow: hidden;
	.actions {margin:0.5em 0; text-align:left;}
}

/* --------------------------
 * Header Module Styles
 * -------------------------- */

.header {position:relative; min-height: 80px; margin: 0; color: #333; padding: 1em 2em; text-align: center; border-bottom: 1px solid #ddd; background: $base;
	h1 {font-family: "europa", sans-serif; margin: 0.2em 0; font-size: 3em; font-weight:700;}
	h2 {font-weight: 300; margin: 0; color: #ccc;}
	a {position:absolute; top:3em; right:2em; z-index:5; color:$blue; &:hover {color:$red;}}
}

aside, #filter {margin-top:1.5em; background: #e5e5e5; padding: 0.3em 1em; border:1px dotted $border-color; color: #777;}

/* --------------------------
 * Content Module Styles
 * -------------------------- */

#deleted-checkbox {float:left; width:100%;}

/* The content div is placed as a wrapper around all the docs */
.content {margin: 0 auto; padding: 0 2em; max-width: 80em; margin-bottom: 3em;
	p {line-height: 1.6em; font-size: 1.125em;}
	.content-subhead {margin: 50px 0 20px 0; font-weight: 300; color: #888; position: relative;}
	.content-spaced {line-height: 1.8em;}
	.snippet {margin: 1.3em 0 1em; padding: 1.3em;}
	.content-quote {font-family: "Georgia", serif; color: #666; font-style: italic; line-height: 1.8em; border-left: 5px solid #ddd; padding-left: 1.5em;}
	.buttons-right {float:right; padding:0.5em 0;}

	#steps {clear:both; list-style:none; margin:0 0 1em 0; background:#fff; padding: 1em; border:3px dotted #e1e1e1; border-radius: 3px; color: #777; overflow:hidden;
		li {float:left; display:inline-block; text-align:center; margin-right:20px; line-height:30px; font-size:16px; color:#666;
			span {display:inline-block; margin-right:5px; @include round(15px); width:30px; text-align:center; background:#999; color:#fff;}
			a {color:#777; &:hover {text-decoration:none; color:$green; span {background:$green;}}}
			&.separator {width:50px; text-align:center;}
			&.on, &.on a {color:$green; span {background:$green;}}
		}
	}
	.pure-form .border-out {border: 1px solid #ccc; padding: 6px 10px;}
	#invoice-fee {padding: 1em; border: 2px solid #c8c8c8;border-radius: 3px; color: #777; margin: 2em 0;}
	#modalAddGenericItem {width: 50em; margin-left: -25em; overflow:hidden;	}
}

table.custom-table, table.report-table, table.invoice-table {width:100%; border:0;
	td {color:#444;
		span {font-size:0.9em; color:#666;}
		a {position:relative;}
		a:hover, &.red {color:$red;}
		.fa-check-square-o, &.green {color:$green;}
	}
	tbody td.red {color:$red;}
	tbody td.green {color:$green;}

	td, th {border:0;}
	thead tr {background:$base; border-bottom:1px solid #ddd; text-transform:uppercase; font-size:14px; letter-spacing:0.05em;}
	thead th {color:#999;}
	tbody tr {@include transition(all 0.2s ease-out); border-bottom:1px solid #ddd;
		&:hover {background:#fff;}
		&.child {border-top:0; td:first-child {padding-left:1.5em;}}
		&.deleted {@include opacity(50);}
	}
	tfoot tr, tr.footer {border-bottom:1px solid #ddd; font-weight:700; td:first-child {text-transform:uppercase; font-size:13px;}}
	.heading h4 {padding:15px 0 5px 0; margin:0; color:$blue; font-size:0.8em; text-transform:uppercase; }
}

table.invoice-table {
	tfoot tr, tr.footer {border-bottom:0;}
	tfoot tr, tr.footer {font-weight:400; td:first-child {text-transform:none;}}
}

/* --------------------------
 * Form
 * -------------------------- */

form.filter-form {margin:0;
	fieldset {font-size:1em; margin:0; padding:0.5em 0;
		label {float:none; width:auto; color:#666;}
		a {font-size:0.9em; line-height:1.2em;}
		label, i, input, select, .pure-button {margin-right:10px;}
		label i {margin-right:0;}
		.pure-button {line-height:1.3em; padding:0.5em 1em; font-size:1em; color:#fff; background:#333; border:1px solid #333; @include all-trans; &:hover {background:transparent; color:#333;}}
		input[type=text], input[type=email], input[type=password], textarea, select {border:1px solid #ccc;}
	}
}

a.pure-button {font-weight:700;}

form#modal-form { overflow:hidden;
	.modal-body {overflow: hidden}
	label {float:left; width:8em;}
		input[type=text], input[type=email], input[type=password], textarea, select {width:18em; padding:0.7em 0.5em; color:$primary; -webkit-appearance: none; font-size:15px; @include round(0); font-family: "europa", sans-serif; border-style:none; background:white; box-shadow:inset 0 -2px 0 rgba(0,0,0,0.15);}
		textarea {width:18em; height:8em;}
		select {height:2.8em;}
	.chosen-results {height: 150px;}

}

form, .pure-form {margin-top:1em;
	fieldset {
		*:focus {outline:none;}
		p {display:none;}
		.info {display:block; clear:both; font-size:0.9em; margin:0 0 -0.5em 11.2em; padding:0;}
		label {float:left; width:10em;}
		input[type=text], input[type=email], input[type=password], textarea, select {width:23em; padding:0.7em 0.5em; color:$primary; -webkit-appearance: none; font-size:15px; @include round(0); font-family: "europa", sans-serif; border-style:none; background:white; box-shadow:inset 0 -2px 0 rgba(0,0,0,0.15);}
		textarea {width:23em; height:8em;}
		select {height:2.8em;}
		.field_with_errors {
			input[type=text], input[type=email], input[type=password], textarea {border-color:$error;}
			+ p {display:block; color:$error; clear:both; font-size:0.8em; margin:0 0 -0.5em 11.2em; padding:0;}
			+ p + .info {display:none;}
		}
		strong.label, span.label, em.label {float:left; padding:0.5em 0 0.5em 0.5em; font-size:0.9em;}
	}

	input[type=text].stock-qty {width:5em;}
	input[type=text].stock-price {width:8em;}
	input[type=text].half, select.half {width:12em;}
	input[type=text].short, select.short {width:10em;}
	input[type=text].centered {text-align:center;}


	input[readonly], select[disabled], textarea[disabled] {font-weight:400; background: #E2E2E2 !important; color: #555555;}
	input[type=text].none {background:none;}
	input[type=text][disabled] {color: #666;}

	.success {color:$success;}
	.error {color:$red; border:3px dotted $red; background:$softred; padding:0.5em 1.5em; @include round(4px);}

	.buttons {padding-left:9em;
		.pure-button {margin-right:0.8em;}
	}
}

.actions {float:left; width:100%; margin:2em auto 1em auto; text-align:center;
	.pure-button {margin-right:0.8em;}
}

label.checkbox {font-size:0.9em; input {margin-right:5px;}}
fieldset a.pure-button {margin-right:0.2em;}

/* --------------------------
 * Tabs
 * -------------------------- */

.tabs {width:100%; list-style:none; margin:0; padding:0; position:relative;
	input[type=radio] {position:absolute; top:-9999px; left:-9999px;}
	li {float:left;}
	label.lbl-tab {display:block; padding:10px 20px; background:#fff; @include all-trans; font-weight:700; margin-right:1px;
		&:hover {background:$softred; cursor:pointer;}
	}
}

[id^=tab]:checked + label.lbl-tab {background:$red; color:#fff;}
[id^=tab]:checked ~ [id^=tab-content] {display: block;}

.tab-content {
  z-index: 2;
  display: none;
  width: 100%;
  position: absolute;
  margin-top:10px;
  left:0;
  box-sizing: border-box;
  -webkit-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

/* --------------------------
 * Footer Module Styles
 * -------------------------- */

.legal {font-size: 87.5%; border-top: 1px solid #ccc; padding: 0.5em 1.1429em; background: rgb(240, 240, 240); line-height: 1.6em;}
.legal-license {margin: 0;}
.legal-copyright, .legal-links {text-align: right; margin: 0;}
.legal-links {list-style: none; padding: 0;}
.legal-logo {text-align: center;}

/* --------------------------
 * Main Navigation Bar Styles
 * -------------------------- */

#menu {margin-left: -$menu-width; width: $menu-width; position: fixed; top: 0; left: $menu-width; bottom: 0; z-index: 1000; background: #2a3542; overflow-y: auto; -webkit-overflow-scroll: touch;
	a, span {display: block; font-weight:700; font-size:1em; color: #aeb2b7; border: none; white-space: normal; padding: 0.6em 0 0.6em 0.6em;}
	i {display:none; float:right; padding: 0.2em 0.6em 0 0;}
	span {color:#777; i {display:block;}}

	.pure-menu-open {background: transparent; border: 0;}
	.pure-menu {
		ul {border: none; background: transparent;
			li {font-size: 1em; color: #aeb2b7;}
		}
		ul, .menu-item-divided {border-top: 1px solid #555;}
		li a:hover, li a:focus {background: #35404d;i {display:block;}}
	}

	.pure-menu-heading {font-size: 105%; font-weight:700; color: #fff;
		&:hover, &:focus {color: #999;}
	}

	.pure-menu-selected {background: $red;
		a {color: #fff;}
	}

	.buttons {text-align:center; padding-top:1em;
		a {display:inline-block; padding:0.5em; @include round(4px);i {display:block; float:none; padding:0;}}
		.pure-menu-selected {color: #fff; &:hover {background: $red; color:#fff;}}
	}

	li.pure-menu-selected a:hover, li.pure-menu-selected a:focus {background: none;}
}

.pure-menu-link {display: none; top: 0; left: $menu-width; background: #2a3542; font-size: 10px; z-index: 10; width: 2em; height: auto; padding: 2.1em 1.6em;
	&:hover, &:focus {background: $red;}
	span {position: relative; display: block;}
	span, span:before, span:after {background-color: #fff; width: 100%; height: .2em; @include transition(all 0.8s);}
	span:before, span:after {position: absolute; margin-top: -.6em; content: " ";}
	span:after {margin-top: .6em;}

	&.active span {background: transparent;}
	&.active span:before {@include transform(rotate(45deg) translate(.5em, .4em));}
	&.active span:after {@include transform(rotate(-45deg) translate(.45em, -.35em));}
}

.submenu {width:100%; margin-top:0; text-align:center; padding:1em 0; background:#fff; border-bottom: 1px solid #ddd;
	li {display:inline; margin-right:1em;}
	li:last-child {margin:0;}
	a {color:$primary; &:hover {color:$red;}}
	.on a {color:$red;}
}

#permit-print, .invoices.print {
	.boxed {margin:0 auto; width:80%;}
	.buttons {margin-bottom:1.3em;}
	.template {position:relative; padding:3em; background:#fff; font-size:90%; border-top:5px solid $red; border-bottom:1px solid $red; @include round(5px);
		.template-header {margin-bottom:1em;
			h1 {color:#666;}
			.template-logo {}
		}
		table.invoice-table {
			thead tr {background:#fff;}
			td p {margin: 0;}
		}
		.stamps {position:absolute; top:-30px; right:-30px; list-style:none;
			li {float:right; margin-left:10px; width:90px; height:90px; @include round(45px); @include box-shadow(2px, #ccc); background:$blue; color:#fff; line-height:90px; font-weight:700; font-size:1.2em; text-align:center; text-transform:uppercase;
				span {display:inline-block; margin-top:25px; line-height:18px;}
				&.green {background:$green; color:#fff;}
				&.red {background:$red; color:#fff;}
				&:last-child {margin-left:0;}
			}
		}
	}
	.invoice-description {font-size:0.8em; margin-top:1.5em; color:#666;}
}

#permit-print {
	.template {padding:1em 3em 2em 3em;
		.template-header {margin-bottom:0; padding-bottom:0.5em; border:0;}
	}
}

/* ---------------------
 * Message Box
 * -------------------------- */

#flash {display:none;}
#growl {position:fixed; top:30px; right:30px; padding:20px 15px 20px 20px; min-width:300px; background: $green; z-index:1000; @include round(5px); display:none;
	.close {float:right; display:inline-block; padding:0 5px; line-height:15px; font-size:20px; color:#fff; &:hover {cursor:pointer;}}
	p {float:left; color:#fff; max-width:280px; font-size:14px; font-weight:700; letter-spacing:0.07em; margin:0;}
	strong {font-weight:400;}
	&.notice {background: $green;}
	&.error {background: $red;}
	&.base {background: #333;}
}
* html #growl {position:absolute;}

/* ---------------------
 * Smaller Module Styles
 * -------------------------- */

.panel { background: #fff;
	h5 { font-size: 0.8em; text-transform: uppercase; margin: 0; padding: 0; }
	h3 { margin: 0; padding: 0; }
	a { color: $primary; &:hover h3 { color: $blue; }}
}

/* example code blocks */
.example-snippet {margin: 2em 0; font-size: 85%;}

/* green call to action button class */
.notice {background-color: #61B842; color: white;}

.pure-button {font-family: inherit;}
.pure-button-primary, a.pure-button-primary {background:$blue; color: white;}

.muted {color: #ccc;}

.hero {text-align: center; margin: 6em auto 2em;
	h1 {font-size: 800%; margin: 0; padding: 0; color: #1f8dd6; font-weight: 400;}
	h2 {font-weight: 900; font-size: 260%; margin: 0.02em 0 0.8em; color: #666;}
}
.hero-titles {font-family: "europa", sans-serif; padding: 0 2em;}
.hero-cta pre {padding: 1em; font-size: 100%; border-left: 0; border-right: 0;}

a.pure-button-cta,
a.pure-button-secondary {font-size: 120%; font-weight: bold; margin: 0.25em 0;}

a.pure-button-cta {background: #1f8dd6; color: white; border: 1px solid #1f8dd6;}
a.pure-button-secondary {background: #fff; color: #666; border: 1px solid #ddd;}

a.button-green {background: $green; color: #fff;}
.button-clean {background: none; border: 0; padding: 0; color: $blue;}

.marketing-ribbon {border-bottom: 1px solid #eee; padding: 1em 0;
	.content {margin-bottom: 0;}
	h3 {font-size: 1.47em; font-weight: normal;}
	p {font-size: 1.125em; line-height: 1.6em;}
}

.sample-buttons {
	.pure-button {width: 30%; margin: 0.2em;}
	p {margin: 0.5em;}
}

.pure-button-a {background: #e1f2fa; color: #5992aa;}
.pure-button-b {background: #fcebbd; color: #af9540;}
.pure-button-d, .pure-button-e {border-radius: 8px;}
.pure-button-f, .pure-button-g, .pure-button-h {border-radius: 20px;}
.pure-button-c {background: #333; color: #fff;}
.pure-button-d {background: #d3eda3; color: #72962e;}
.pure-button-e {background: #f5ab9e; color: #8c3a2b;}
.pure-button-f {background: #ddaeff; color: #8156a7;}
.pure-button-g {background: #f57b00; color: #ffca95;}
.pure-button-h {background: #008ed4; color: #fff;}

/* --------------------------
 * Responsive Styles
 * -------------------------- */
@media (max-width: 1024px) {
	.add-new {float:none; width:40%;}
	.items-list {width:100%; li {margin:0 3% 3% 0;}}
}

@media (max-width: 870px) {
	#layout {position: relative; padding-left: 0;
		&.active {position: relative; left: $menu-width;}
		&.active #menu {left: $menu-width; width: $menu-width;}
	}
	#menu {left: 0;}
	.pure-menu-link {position: fixed; left: 0; display: block;}
	#layout.active .pure-menu-link {left: $menu-width;}

	#filter {margin-top:0;}
}

@media (max-width: 767px) {
	.header, .content {font-size: 87.5%;}
	.header, .content, .legal {padding-left: 1.1429em; padding-right: 1.1429em;}
	.legal-license, .legal-copyright, .legal-links, .legal-links li {text-align: center;}

	.hero {margin: 2em 0 auto;
		h1 {font-size: 250%; font-weight: 300;}
		h2 {font-size: 165%;}
	}
	.hero-titles {padding: 0 1em;}

	h3.l-hbox, p.l-hbox {padding: 0 1.3em;}
	a.size-chart-label {font-size: 0.75em; padding: 0.6667em;}

	.items-list li {width:100%; margin:0 0 3% 0; .area {min-height:0; padding-bottom:50px;}}

	.add-new {width:100%;}
}

@media screen and (max-width:470px),
only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
	#login {width:90%; padding:1.5em 1em;}

	form {
		fieldset {
			input[type=text], input[type=email], input[type=password], textarea, select, .label {width:94%;}
			.field_with_errors {
				+ p {margin:0 0 -0.5em 0;}
				i {display:none;}
			}
		}
		.buttons {padding-left:0em;}
	}
	form.filter-form {
		fieldset {padding:0.5em 0;}
	}
	h3.right {float:left; width:100%;}

	.l-box {padding: 0.3em;}
	.l-vbox {padding: 0.3em 0;}
	.l-hbox {padding: 0 0.3em;}

	#growl {min-width:200px; p {max-width:180px;}}
}

pre {word-wrap: break-word; padding: 6px 10; line-height: 1.3em; margin-bottom: 20; border: 1px solid #eee;}
code {border: none; margin: 0 2px; font-size: 0.8em; padding: 0.4em 0.6em; white-space: nowrap;}
pre code {padding: 0; margin: 0; font-size: 0.95em; white-space: pre-wrap;}
pre, code {font-family: Consolas, 'Liberation Mono', Courier, monospace; color: #333; background: rgb(250, 250, 250);}
pre .comment {color: #999;}

.tooltipsy {font-size:0.9em; background: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; @include round(4px); text-align: center;}

.chart-container
{
  position: relative;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  text-align: center;
  width: 90%;
  min-height: 440px;
  padding: 5%;
  margin: 0 auto;
  box-shadow: 0px 1px 3px 0px #e3e3e3;
  box-shadow: 0px 1px 3px 0px rgba(112,112,112,0.05);
}

table.invoice-table thead th {color:#000;}
table.invoice-table, table.invoice-table tbody td, table.invoice-table tfoot td, table.invoice-table thead th  {border:1px solid #000;}

/*---------- Print ----------*/
@media print {
	#menu, #menuLink, .header, .submenu, #filter, #steps, .actions {display:none;}
	.l-hbox, .l-box {padding:0;}

	body {background:#fff;}
	#layout {position:relative; padding:0;}
	.content {position:absolute; top:0; left:0; margin:0; width:100%; padding:0;}

	@page { margin: 1cm 0.8cm 2cm 0.8cm; }

	table.custom-table, table.report-table, table.invoice-table {
		thead tr {background:#fff; border-bottom:1px solid #000;  -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid ;}
		thead th, tbody td, tfoot td {color:#000; border:1px solid #000;}
		tbody tr, tfoot tr, tr.footer {border-color: #000;}
		td.red {color:$red;}
		td.green {color:$green;}
		td p { -webkit-column-break-inside: avoid; page-break-inside: avoid; break-inside: avoid ; -webkit-column-break-after: avoid; page-break-after: avoid; break-after: avoid ; padding:0; margin:0;}
		thead tr, tfoot tr td, tr.footer td, tfoot tr td:first-child, td {font-size:0.7em;}
	}

	table.custom-table, table.report-table, table.invoice-table {font-size:90%;}

	#permit-print, .invoices.print {width:100%; padding:0; margin:0;
		.boxed {width:100%; color:#000;
			.tabs {label.lbl-tab {display: none;} input[type="radio"]{display:none;}}
		}
		h3 {color:#000;}
		.template {padding:0; border:0; color:#000; margin-top: 13em;
			.stamps {display:none;}
		}
		#inv-print .template {margin-top: 0; h3 {margin-top: 0;}}
		.buttons, .actions {display:none;}
	}



	form {
		input[type="text"] {border:none; background:#fff;}
	}
}
