<h1>USER PROFILE</h1>

<p>
<strong>Username:</strong>
  <%= current_user.username %>
</p>

<p>
<strong>Alamat:</strong>
  <%= current_user.address %>
</p>

<td><%= link_to 'Edit', edit_user_path(current_user) %></td><br />
<%= link_to 'Kembali', default_index_path %>
