<!DOCTYPE html>
<html>
<head>
  <title>Aamdoor</title>
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<script type="text/javascript" src="//use.typekit.net/rgs6vsb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="pure-g-r" id="layout">
  	<a href="#menu" id="menuLink" class="pure-menu-link">
  		<span></span>
  	</a>

  	<div class="pure-u" id="menu">
  		<div class="pure-menu pure-menu-open">
  			<a class="pure-menu-heading" href="/">Atlantic</a>

  			<%= render 'default/menu' %>
  		</div>
  	</div>
<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
  	<div class="pure-u-1" id="main">
  <%= yield %>
  <%= render "default/growl" %>
</div>
</div>

<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
