<!DOCTYPE html>
<html>
<head>
	<title>Aamdoor - Login</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

	<script type="text/javascript" src="//use.typekit.net/rgs6vsb.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

	<%= csrf_meta_tags %>
</head>
<body>

<div class="content">
	<div class="hero">
		<div class="hero-titles">
			<h1 id="logo">Aamdoor</h1>
		</div>
	</div>

	<div class="pure-u-1">
		<div id="login">
			<%= yield %>
		</div>
	</div>
</div>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
